/* BASE STYLES */

body {
  background-color: black;
}

* {
  font-family: "Space Mono", monospace;
  color: white;
}

body, h1 {
  margin: 0;
  padding: 0;
}

.container, header, ul, article, div {
    display: flex;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.container, ul {
  flex-direction: column;
}

/* HEADER */

header {
  padding: 7px;
  justify-content: center;
  flex-direction: column;
}

nav {
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  font-size: 1.2em;
}

.nav-show {
  height: 140px;
}

#menu-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 99;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 2em;
  transition: 0.2s;
  padding: 0 10px;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
}

/* #menu-button:hover {
  transform: rotate(45deg);
} */

.rotate-cw {
  transform: rotate(90deg);
}

.logo {
  height: 50px;
  align-self: center;
  transition: filter 0.3s, transform 0.3s;
}

.logo:hover {
  filter: brightness(1.5);
  transform: scale(1.1);
}

ul {
  margin: 0;
  padding-left: 15px;
  list-style-type: none;
}

li {
  padding: 0 5px;
}

li a {
  text-decoration: none;
  font-family: "Rock Salt", cursive;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  margin-left: 30px;
  transform: scaleX(1.5);
}

/* SPLASH */

.splash-image {
  align-self: left;
  width: 100%;
}

.splash {
  flex-direction: column;
  justify-content: center;
}

article h2 {
  margin: 10px 10px 4px;
}

article p {
  margin: 4px 10px 10px;
}

.splash div {
  flex-direction: column;
}

/* BIO */

.bio {
  display: block;
  background: url("../media/b-dawg.png");
  background-size: cover;
  background-position: top left;
}

.bio img {
  display: none;
}

.bio p, .bio h2 {
  color: yellow;
}

/* BREAKPOINTS */

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
  }
  #menu-button {
    display: none;
  }
  nav, .nav-show {
    height: auto;
  }
  ul {
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  .logo {
    height: 100px;
    align-self: left;
  }
  .splash-image {
  }
  .splash {
    flex-direction: row;
  }
  .splash div {
    width: 33%;
  }
  .bio img {
    float: right;
    display: block;
  }
}
