/* BASE STYLES */

body {
  background-color: black;
}

* {
  font-family: "Space Mono", monospace;
  color: white;
}

body, h1 {
  margin: 0;
  padding: 0;
}

.container, header, ul, article {
    display: flex;
}

.container, ul {
  flex-direction: column;
}

/* HEADER */

header {
  padding: 7px;
  justify-content: center;
  flex-direction: column;
}

nav {
  transition: 0.5s;
  height: 0;
  overflow: hidden;
  font-size: 1.2em;
}

.nav-show {
  height: 120px;
}

#menu-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 99;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 2em;
  transition: 0.2s;
  padding: 0 10px;
}

/* #menu-button:hover {
  transform: rotate(45deg);
} */

.rotate-cw {
  transform: rotate(90deg);
}

.logo {
  height: 50px;
  align-self: center;
}

ul {
  margin: 0;
  padding-left: 15px;
  list-style-type: none;
}

li {
  padding: 0 5px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  margin-left: 30px;
  transform: scaleX(1.5);
}

/* SPLASH */

#splash-image {
  align-self: left;
  width: 100%;
  margin-bottom: 10px;
}

article {
  flex-direction: column;
}

h2, p {
  margin: 0 20px;
}

/* BREAKPOINTS */

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
  }
  #menu-button {
    display: none;
  }
  nav, .nav-show {
    height: auto;
  }
  ul {
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  .logo {
    height: 100px;
    align-self: left;
  }
  #splash-image {
    width: 40%;
    max-width: 500px;
    float: left;
    margin-right: 20px;
  }
  article {
    display: block;
  }
}
